<!doctype html>
<html>
  <head>
    <title>Garage Door</title>
    <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" />
    <script src="https://code.jquery.com/jquery-1.12.1.min.js"></script>
    <script src="{{ url_for('static', filename = 'js/door.js') }}"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <style>
#toggleButton {
  width: 100%;
  background-image: url('{{ url_for('static', filename = 'img/door.png') }}');
  background-repeat: no-repeat;
  background-position: center center;
  min-height: 175px;
}
    </style>
  </head>
  <body>
    <div class="jumbotron">
      <div class="container">
      <h1>Garage door is currently:</h1>
      <h2 id="statusField">
      {% if closed %}
        Closed
      {% else %}
        Open
      {% endif %}
      </h2>
      <div class="container">
      <form method="post" action="/door">
        <input class="btn btn-primary btn-lg" id="toggleButton" type="submit" value="" />
      </form>
      </div>
      </div>
    </div>
  </body>
</html>

